@import url("https://fonts.googleapis.com/css2?family=Anton&family=Moon+Dance&family=Roboto+Condensed:wght@300;400;700&display=swap");

:root {
  --header-text: "Moon Dance", cursive;
  --body-text: "Roboto Condensed", sans-serif;
  --footer-text: "Anton", sans-serif;
}

html,
body {
  margin: 0%;
  padding: 0%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(2, 1fr) 5fr 1fr;
  gap: 15px;
  height: 100vh;
  width: 100vw;
}

.header {
  grid-column: 1 / 3;
  background-color: #ffde22;
}

.sidebar {
  grid-row: 2 / 4;
  background-color: #ff7755;
}

.nav {
  background-color: #00ddff;
}

.article {
  background-color: #bccbde;
}

.footer {
  grid-column: 1 / 3;
  background-color: #393f4d;
}
