@import url("https://fonts.googleapis.com/css2?family=Anton&family=Moon+Dance&family=Roboto+Condensed:wght@300;400;700&display=swap");

:root {
  --header-text: "Moon Dance", cursive;
  --body-text: "Roboto Condensed", sans-serif;
  --footer-text: "Anton", sans-serif;
}

html,
body {
  margin: 0%;
  padding: 0%;
}

.header-con {
  display: grid;
  grid-template-columns: 2fr repeat(4, 1fr);
  grid-template-rows: auto;
  background-color: #151522;
  height: 5vh;
}

.body-con {
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: red;
  height: 100vh;
}

.footer-con {
}
